		body {
		  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
		  color: #404040;
		  background: #ecedef url("../images/bg2.png") 0 0 repeat;			
		}
		h1 {
			padding: 15px;
			text-align:center;
			font-size:250%;
			color:rgb(0,50,200);
		}
		h2 {
			margin: 0px;
			text-align:center;
			font-size:150%;
		}
		h3 {
			text-align:left;
			font-size:150%;
			margin: 50px;
			padding: 0px;
		}
		p {
			margin: 50px;
			padding: 0px;
			text-align:center;
			font-size:130%;
		}

		@import url(https://fonts.googleapis.com/css?family=Capriola);
		#cssmenu,
		#cssmenu ul,
		#cssmenu ul li,
		#cssmenu ul li a {
		  margin: 0;
		  padding: 0;
		  border: 0;
		  list-style: none;
		  line-height: 1;
		  display: block;
		  position: relative;
		  font-family: Capriola, Helvetica, sans-serif;
		  box-sizing: content-box;
		}
		#cssmenu {
		  width: auto;
		  height: 59px;
		  padding-bottom: 4px;
		}
		#cssmenu.align-right {
		  float: right;
		}
		#cssmenu.align-right ul li {
		  float: right;
		  margin-right: 0;
		  margin-left: 4px;
		}
		#cssmenu.align-right ul li:first-child,
		#cssmenu.align-right ul li:first-child > a {
		  border-bottom-right-radius: 3px;
		}
		#cssmenu #bg-one,
		#cssmenu #bg-two,
		#cssmenu #bg-three,
		#cssmenu #bg-four {
		  position: absolute;
		  bottom: 0;
		  width: 100%;
		  border-bottom-left-radius: 3px;
		  border-bottom-right-radius: 3px;
		}
		#cssmenu #bg-one {
		  height: 10px;
		  background: #0f71ba;
		}
		#cssmenu #bg-two {
		  height: 59px;
		  z-index: 2;
		  background: url('../images/bg.png');
		}
		#cssmenu #bg-three {
		  bottom: 4px;
		  height: 55px;
		  z-index: 3;
		  background: #222222;
		  background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
		  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
		  background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
		  background: -o-linear-gradient(top, #555555 0%, #222222 100%);
		  background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
		  background: linear-gradient(to bottom, #555555 0%, #222222 100%);
		}
		#cssmenu #bg-four {
		  bottom: 4px;
		  height: 55px;
		  z-index: 4;
		  background: url('../images/bg.png');
		}
		#cssmenu ul {
		  height: 59px;
		}
		#cssmenu ul li {
		  float: left;
		  margin-right: 4px;
		  border-top-left-radius: 3px;
		  border-top-right-radius: 3px;
		  z-index: 5;
		}
		#cssmenu ul li a {
		  padding: 24px 30px 20px 30px;
		  margin-bottom: 4px;
		  border-top-left-radius: 3px;
		  border-top-right-radius: 3px;
		  color: #eeeeee;
		  font-size: 15px;
		  text-decoration: none;
		}
		#cssmenu ul li:first-child,
		#cssmenu ul li:first-child > a {
		  border-bottom-left-radius: 3px;
		}
		#cssmenu ul li:hover,
		#cssmenu ul li.active {
		  background: #0f71ba;
		  background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
		  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
		  background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
		  background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
		  background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
		  background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
		}
		#cssmenu ul li a:hover,
		#cssmenu ul li.active > a {
		  background: url('../images/bg.png');
		  color: #ffffff;
		}

		.sidenav {
		    height: 100%;
		    width: 0;
		    position: fixed;
		    z-index: 0;
		    top: 1;
		    left: 1;
		  	background: rgb(135,206,250) url("../images/bg3.png") 0 0 repeat;			
		    overflow-x: hidden;	
		    transition: 1s;
		    padding-top: 35px;
		
		}
		.sidenav a {
		    padding: 8px 8px 8px 20px;
		    text-decoration: none;
		    font-size: 25px;
		    color: rgb(0,0,255);
		    display: block;
		    transition: 0.3s;
		}
		.sidenav .closebtn {
		    position: absolute;
		    top: 10px;
		    right: 10px;
		    font-size: 30px;
		    margin-left: 50px;
		    color: black;
		}
		.sidenav .closebtn:hover {
			color:blue;
			font-size: 31px;
			text-decoration: none;
		}
		@media screen and (max-height: 450px) {
		  .sidenav {padding-top: 15px;}
		  .sidenav a {font-size: 18px;}
		}
		#success_message{ display: none;}
